{% extends "public/base.html" %}

{% block content %}
<h1>Home Page</h1>

{% if email %}
	<div class="well">{{email}}</div>
{% else %}
	<h3>Please Enter an email</h3>
{% endif %}

<form method="POST">
	{% csrf_token %}
	<label>Email</label>
	<input type="text" name="email">

	<button>Submit</button>

</form>

{% for car in cars %}
	<p style="color:{{car.color}}">
		Car Name: {{car.name}}
	</p>
	
	<script type="text/javascript">
	 alert('{{car.color}}');
	</script>


{% endfor %}



{% endblock %}